<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indian Places to Visit Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<style>
    body
    {
    background-repeat:no-repeat;
    background-attached:fixed;
    background-size:cover;
    background-image:url({{url_for('static',filename='3.webp')}})
    }
</style>
</head>
<style>
    .text-white{
    color:white
    }
</style>

<body style="background-color:white">
<nav class ="navbar" style="background-color:white">
        <a class="navbar-brand">My Place recommender</a>
        <ul class="nav  navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:100px">Recommend Places</h1>
                <form action="/recommend_places" method="post">
                    <input name="user_input" type="text" class="form-control"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>

            </div>

            {% if data %}

             {% for i in data %}
                <div class="col-md-2" style="margin-top:100px">
                     <div class="card">
                         <div class="card-body">
                             <h1 class="text-white">{{i[0]}}</h1>
                             <h2 class="text-white">Rating- {{i[2]}}</h2>
                             <h4 class="text-white">Review- {{i[1]}}</h4>
                         </div>
                     </div>
                </div>
             {% endfor %}

            {% endif %}

        </div>
    </div>

</body>
</html>

